.first__div {
  height: 100%;
  width: 50%;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-left: 5vw;
}

.first {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first__image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0.3;
  z-index: -1;
}

.first__title {
  font-size: var(--size-9xl);
  line-height: 0.75;
  transition-delay: 100ms;
}

/* .first__text {
  font-family: "DM Serif Text", serif;
  transition-delay: 100ms;
  text-align: justify;
  text-indent: 8em;
} */
