.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__subtitle {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: var(--size-lg);
  font-weight: 400;
  color: var(--clr-slate600);
  border: 1px solid var(--clr-amber950);
}

.hero__title {
  padding: 0;
  font-size: var(--size-10xl);
  font-weight: 900;
  color: var(--clr-light);
  line-height: 0.9;
  border: 1px solid var(--clr-amber950);
}
.hero__image {
  border-radius: 20%;
  width: var(--size-10xl);
  height: var(--size-10xl);
}

.hero__button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
