/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.05em;
  border: 1px solid var(--clr-lime300);
  color: var(--clr-white);
  padding: 0.5em 1em;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
  background-color: var(--clr-lime300);
  color: var(--clr-dark);
  box-shadow: 0 14px 28px rgba(190, 242, 100, 0.22),
    0 10px 10px rgba(190, 242, 100, 0.25), 0 0 120px -10px rgb(190, 242, 100);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border: 1px solid var(--clr-amber950);
}

.section {
  margin-top: 5rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
